<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
</head>

<body>
    <header>
        <a href="#" class="logo">
            <img src="/images/Walt-Disney-Logo-1985.jpg" alt="logo"></a>



        <ul class="nav">
            <li class="uno"><a href="#genres"> Genres</a>
                <ul>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Fantasia</a></li>
                    <li><a href="#">Animation</a></li>
                    <li><a href="#">Drama</a></li>
                </ul>
            </li>

            <li class="uno"><a href="#movies"> Movies </a>
                <ul>
                    <li><a href="#">Shang-Chi and the legend of the ten rings</a></li>
                    <li><a href="#">Eternals</a></li>
                    <li><a href="#">Doctor Strange magician supreme</a></li>
                    <li><a href="#">Encanto</a></li>
                    <li><a href="#">More  movies</a></li>
                    
                </ul>
            </li>

            <li class="uno"><a href="#movies"> Series</a>
                <ul>
                    <li><a href="#">The Book of Boba Fett</a></li>
                    <li><a href="#">Maléfica</a></li>
                    <li><a href="#">Maléfica Mistress of Evil</a></li>
                    <li><a href="#">Hawkeye</a></li>
                    <li><a href="#">More series</a></li>
                </ul>
            </li>

            <li class="uno"><a href="#opiniones">Opinions</a></li>

            <li class="uno"><a href="#subscribe">Subscribe</a></li>

            <li class="uno"><a href="#contactos">Contacts</a></li>
        </ul>

        <nav class="forms">
            <div class="forms-btn">
                <ul>
                    <li><a href="/register"> Register</a></li>
                </ul>
            </div>
        </nav>
        <nav class="forms">
            <div class="forms-btn-1">
                <ul>
                    <li><a href="/login"> Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="inicio" id="inicio">
        <div class="content">
            <h3>Walt<span>Disney</span></h3>
            <p>"Think, Dream, Believe and Dare"</p>
            <a href="https://disneylatino.com/" class="btn">MORE DETAILS</a>
        </div>
        <div class="image">
            <img src="/images/mickey-mouse-png-sin-fondo.png" alt="">
        </div>

    </section>


    <section class="detalles" id="movies">
        <h1 class="heading"> Movies and series </h1>
        <div class="caja-contenedor">
            <div class="caja">
                <img src="/images/Boba Fett.jpg" alt="">
                <h3> The Book of Boba Fett </h3>
                <p> Boba Fett and the mercenary Fennec Shand
                    navigate the underworld of the galaxy as
                    they return to the sands of Tatooine to
                    reclaim the territory once ruled by Jabba
                    the Hutt and his crime syndicate.</p>

                <a href="#" class="btn">SEE MORE</a>
            </div>

            <div class="caja">
                <img src="/images/male1.png" alt="">
                <h3> Maléfica </h3>
                <p> A beautiful young woman with a pure heart,
                    she leads an idyllic life in a forest kingdom.
                    When an invading army threatens her lands, Maleficent
                    rises to become her fiercest protector. However,
                    a terrible betrayal hardens her heart and turns her into a creature bent on revenge.</p>


                <a href="#" class="btn">SEE MORE</a>
            </div>

            <div class="caja">
                <img src="/images/male2.jpg" alt="">
                <h3>Maléfica Mistress of Evil</h3>
                <p> Maleficent travels to a grand ancient castle
                    to celebrate young Aurora's upcoming wedding
                    to Prince Philip. While there, he meets Aurora's
                    future mother-in-law, a scheming queen who hatches
                    a devious plan to destroy the fairies of the land.</p>

                <a href="#" class="btn">SEE MORE</a>
            </div>
        </div>
    </section>


    <section class="acerca_de" id="subscribe">
        <h1 class="heading"> Platforms </h1>
        <div class="columna">

            <div class="content">
                <h3> The best disney movies and series </h3>
                <div class="button">
                    <a href="https://play.google.com/" class="btn"><i class="fab fa-google-play"></i> GOOGLE PLAY</a>
                    <a href="https://disney.com/" class="btn"><i class="far fa-camera-movie"></i>DISNEY FILMS</a>
                </div>
            </div>
        </div>
    </section>


    <div class="suscribete">

        <h3> SUBSCRIBE TO GET MORE NEWS</h3>
        <P> Enter your email and so you can receive
            news of the latest movies and series,
            you will also get discounts on membership and all our products.</P>
        <form action="" class="controls">
            <input type="email" placeholder="ingresa tu email" required>
            <input type="submit" value="suscribete" id="buttons">
        </form>

    </div>

    <section class="opiniones" id="opiniones">

        <h1 class="heading">Opinions reviews</h1>
        <div class="caja-contenedor">
            <div class="caja">
                <i class="fas fa-atom"></i>
                <div class="user">
                    <img src="/images/usuario-1.jpg" alt="">
                    <h3>PEDRO</h3>
                    <div class="stars"></div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    
                    <h4>Movie Encanto</h4>
                </div>
                <div class="comentarios">
                    Excellent film with a different and refreshing content.
                    Full of magic and love, definitely one of the best of Disney so far.
                    You can't miss it, now I would like to be one more Colombian, what an honor.
                </div>


            </div>
            <div class="caja">
                <i class="fas fa-atom"></i>
                <div class="user">
                    <img src="/images/usuario-2.png" alt="">
                    <h3>AGUSTINA</h3>
                    <div class="stars"></div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>

                    <h4>Movie Eternals</h4>
                </div>
                <div class="comentarios">
                    Eternals is a movie that I have found impossible to connect with.
                    Too confused and disjointed in the jumps of time that it poses,
                    it lengthens unnecessarily. Insipid actors, lost in a role that does not explode.
                </div>


            </div>
            <div class="caja">
                <i class="fas fa-atom"></i>
                <div class="user">
                    <img src="/images/usuario-3.png" alt="">
                    <h3>MARIA</h3>
                    <div class="stars"></div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>

                    <h4>Series Hawkeye</h4>
                </div>
                <div class="comentarios">
                    It does not propose anything too revolutionary,
                    but in its accumulation it reaches a certain empathy 
                    with the characters and a spectacular nature and a vertigo 
                    that Marvel fans will surely celebrate.
                </div>

            </div>

        </div>
    </section>

    <section class="contactos" id="contactos">
        <div class="image">
            <img src="/images/form_img.png" alt="">
        </div>

        <form action="">
            <h1 class="heading"> Contact</h1>
            <div class="inputcaja">
                <input type="text" required>
                <label for=""> Name</label>
            </div>
            <div class="inputcaja">
                <input type="email" required>
                <label for=""> Email</label>
            </div>
            <div class="inputcaja">
                <input type="number" required>
                <label for=""> Phone</label>
            </div>

            <div class="inputcaja">
                <textarea required name="" id="" cols="30" rows="10"></textarea>
                <label for=""> Message</label>
            </div>


            <input type="submit" class="btn" value="Enter">

        </form>

        <div class="footer">
            <div class="caja-contenedor">
                <div class="caja">
                    <h3>INFORMATION</h3>
                    <p> Subscribe "https://www.googleadservices.com " and enjoy the best of Disney, Pixar, Marvel,
                        Star Wars and National Geographic. Discover incredible
                        new characters and Originals. A new story every day. 
                        Download it and enjoy. Enjoy streaming. Start your Free Trial. 
                        Disney+ Originals.</p>
                </div>

                <div class="caja">
                    <h3> Social Networks</h3>
                    <a href="https://www.facebook.com/"><img src="/images/icon-facebook.svg" /></a>
                    <a href="https://www.instagram.com/"><img src="/images/icon-instagram.svg" /></a>
                    <a href="https://www.pinterest.com/"><img src="/images/icon-pinterest.svg" /></a>
                    <a href="https://www.twitter.com/"><img src="/images/icon-twitter.svg" /></a>
                </div>


                <div class="caja">

                    <h3>More information</h3>


                    <div class="info">
                        <i class="fas fa-phone"></i>
                        <p>+549 11 2345-6789 <br>+549 11 15-5678-1234</p>
                    </div>

                    <div class="info">
                        <i class="fas fa-envelope"></i>
                        <p>challengeBackEnd@gmail.com <br>backEndNode@gmail.com</p>
                    </div>

                    <div class="info">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>CABA <br>1600</p>
                    </div>

                </div>
            </div>

            <h1 class="creditos">
                &copy, copyright @ 2022-RolandoDuarte-Student-FullStack.
            </h1>

        </div>

</body>

</html>










