<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register Form</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
</head>

<body class="body-box">

<section class="form-register">
    <h5>Register Form</h5>
    <form action="/users/register" method="POST">
        <input class="controls" type="text" name="firstName" placeholder="Full Name" required>
        <input class="controls" type="text" name="lastName" placeholder= "Last Name" required>
        <input class="controls" type="text" name="user" placeholder="Username" required>
        <input class="controls" type="email" name="email" placeholder="E-mail" required>
        <input class="controls" type="date" name="birth_date" id="birth_date" required>
        <input class="controls" type="password" name="password" placeholder="Enter a password" required>
        <input class="controls" type="password" name="passwordConfirm" placeholder="Confirm your password" required>
        <input class="buttons" type="submit" value="Send">
        <input class="buttons" type="reset" value="Delete">
        
    </form>
</section>
</body>

</html>